.select-simple-popup {
    background: white;
    box-shadow: 1px 1px 3px #808080;
    font-size: 1em;
    max-width: 99vw;
    padding: 0.5em 0.25em 0.5em 0.5em;
    color: black;
    user-select: none;
    line-height: 1.3;
}
.select-simple-popup .l-scroller {
    width: 100%;
    height: 100%;
    max-height: 11em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
.select-simple-popup .l-scroller span {
    opacity: 0.25;
}
.select-simple-popup .l-scroller div {
    cursor: pointer;
    padding: 0.4em 0.5em;
    margin: 0 0.25em 0 0;
}
.select-simple-popup div.l-active {
    background: #e8e8e8;
}
.select-simple-popup div.l-focus {
    background: #c0c0c0;
}
.select-simple-popup .l-scroller div:hover {
    background: #e0e0e0;
}