
.date-time-picker {
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    user-select: none;
    padding: 0.75em;
    box-shadow: 1px 1px 4px #00000080;
}
.date-time-picker button {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1em;
}
.date-time-picker button.l-today {
    max-width: 1.75em;
    font-size: 1em;
}
.date-time-picker button:hover {
    background-color: #ddd;
}

.date-time-picker select {
    border: none;
    background: #ffffff;
    appearance: none;
    padding: 0 0.2em;
    outline: none;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-family: inherit;
}
.date-time-picker .l-value-display {
    font-size: 1.25em;
    margin: 0.25em 0;
    text-align: center;
}
.date-time-picker .l-pickers {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
@media only screen and (max-width: 600px) {
    .date-time-picker .l-pickers {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.date-time-picker .l-select {
    display: flex;
    justify-content: space-between;
}
.date-time-picker .l-select button {
    padding: 0.1em 0.5em;
}

.date-picker table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.date-picker input {
    width: 4em;
    text-align: center;
    border: none;
    font-size: 1em;
    outline: none;
    flex: 1 0 auto;
    font-family: inherit;
    padding: 0;
}
.date-picker input[type="number"] {
    -moz-appearance: textfield;
}
.date-picker input::-webkit-outer-spin-button,
.date-picker input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.date-picker .l-buttons {
    width: 100%;
    display: flex;
}
.date-picker .l-buttons > * {
    flex: 1 1 auto;
}
.date-picker button.l-navig {
    max-width: 1.75em;
    flex: 1 0 1.75em;
    border: none;
    font-size: 1em;
    flex: 0 0 auto;
}
.date-picker .l-navig-wrapper {
    border: 1px solid #ccc;
    display: flex;
}
.date-picker table td {
    padding: 0.5em 0.75em;
    cursor: pointer;
    position: relative;
    opacity: 0.25;
}
.date-picker table td.l-month {
    background-color: #ffffff;
    opacity: 1;
}
    .date-picker table td.l-weekend {
    background-color: #e0e0e0;
}
.date-picker table td.l-today:after {
    content: " ";
    border: 0.1em solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}
.date-picker table td.l-selected {
    background-color: #808080;
    color: white;
}
.date-picker table th {
    background-color: #c0c0c0;
}

.time-picker table {
    border-collapse: collapse;
}
.time-picker table td {
    padding: 0.1em 0.5em;
    background-color: #ffffff;
    position: relative;
    color: #404040;
}
.time-picker table th:not(:empty) {
    background-color: #c0c0c0;
}
.time-picker table td:not(:empty) {
    cursor: pointer;
}
.time-picker table td:not(:empty):not(.l-selected):after {
    content: " ";
    border: 1px solid #c0c0c0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}
.time-picker table td.l-div {
    min-width: 2em;
}
.time-picker table td.l-selected {
    background-color: #808080;
    color: white;
}